/* animation 2 */
.sugar-container-about{
  overflow: hidden;
}
.sugarImgAbout{
  transform: translateX(0%);
    transition: transform 0.5s ease;
}
.sugar-container-about:hover .sugarAbout{
  transform: translateX(-100%);
  width: 55%;
  right: -10%;
  padding-right: 5%;
}

.sugarAbout{
  transform: translate(0%);
    transition: transform 0.5s ease;
}
.sugar-container-about:hover .sugarImgAbout{
  transform: translateX(100%);
}



.content-container{
  transition: all 0.3s ease-in-out;
  /* overflow: hidden; */
}
.content-container:hover .content{
  animation: moveSide 0.5s linear;
  -webkit-animation: moveSide linear 0.5s;
}
@keyframes moveSide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}