
.follow{
    position: relative;
    overflow: hidden;
}
/* top */
.des-content-topp{
    transform: translateY(-200%);
    transition: transform 0.5s ease;
}
.follow:hover .des-content-topp{
    transform: translate(0);
    opacity: 1;
}
/* bottom */
.des-content-bottom{
    transform: translateY(200%);
    transition: transform 0.5s ease;
}
.follow:hover .des-content-bottom{
    transform: translate(0);
    opacity: 1;
}
/* right */
.des-content-right{
    transform: translateX(200%);
    transition: transform 0.5s ease;
}
.follow:hover .des-content-right{
    transform: translate(0);
    opacity: 1;
}
/* left */
.des-content-left{
    transform: translateX(-200%);
    transition: transform 0.5s ease;
}
.follow:hover .des-content-left{
    transform: translate(0);
    opacity: 1;
}

/* new */

/* .follow2{
    position: relative;
    overflow: hidden;
}
.des-content2{
    opacity: 0;
    animation-name: fadeFromtop;
    -webkit-animation-name: fadeFromtop;
    animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.follow2:hover .des-content2{
    animation-name: fadeFromBottom;
    -webkit-animation-name: fadeFromBottom;
    animation-duration: 800ms;
    -webkit-animation-duration: 800ms;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeFromBottom  {
    0%{
        opacity:0;
        -webkit-transform: translateY(100%);
    
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
      
        transform: translateY(0px);
        display: block;
    }
}
@keyframes fadeFromtop  {
0%{
    opacity:1;
    -webkit-transform: translateY(0px);
   
    transform: translateY(0px);
}
100%{
    opacity: 0;
    -webkit-transform: translateY(100%);

   
    transform: translateY(100%);
}
} */