.hoverImg {
    /* animation: moveDownHoverImg 0.5s ease forwards; */
  transform: translateY(110%);
  transition: transform 0.5s ease;
}
.Img-container:hover .hoverImg {
    /* animation: moveHoverImg 0.5s ease forwards; */
  opacity: 1;
  transform: translateY(0%);
}
.Img {
    animation: scaleDownImg 0.5s ease forwards;
}
.Img-container:hover .Img {
    animation: scaleImg 0.5s ease forwards;
}
@keyframes moveHoverImg {
    0%{
        transform: translateY(0%);
        opacity: 0;
    }
    100%{
        transform: translateY(110%);
        opacity: 1;
    }
}
@keyframes moveDownHoverImg {
    0%{
        transform: translateY(110%);
        opacity: 1;
    }
    100%{
        transform: translateY(0%);
        opacity: 0;
    }
}
/* keyframe 2 */
@keyframes scaleImg {
    0%{
        transform: scale(100%);
        opacity: 1;
    }
    100%{
        transform: scale(300%);
        opacity: 0;
    }
}
@keyframes scaleDownImg {
    0%{
        transform: scale(300%);
        opacity: 0;
    }
    100%{
        transform: scale(100%);
        opacity: 1;
    }
}