.heading{
    background-color: #DCE7D2;
    max-width: 1440px;
}
.search{
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    animation: move 1s ease-in -0.2s forwards;
}
.hide{
    display: none;
    transform: translateX(200%);
    /* visibility: hidden; */
}
@keyframes move {
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}
.showMenu{
    display: block;
    transform: translateX(0%);
    animation: slideIn 0.5s linear;
}
.hideMenu{
    display: none;
    transform: translateX(0%);
    animation: slideIn 0.5s linear;
}
@keyframes slideIn {
    0%{
      transform: translateX(100%);
      z-index: 20;
      opacity: 0;
    }
  }