@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 1440px;
    background: #F3F6F1;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', 'serif';
    font-size: calc(.5em + 1vw); 
}