.Life-Hero {
  background: url("./Assets/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  height: 60vh;
  overflow: hidden;
}
.img:hover .img-hover {
  display: inline;
}

@keyframes movingTopToBottom {
  0% {
    transform: translateY(-100%);
  }
  15% {
    transform: translateY(-45%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}
.Life-Gives {
  animation: movingTopToBottom 1s linear;
  -webkit-animation: movingTopToBottom linear 1s;
}
@media screen and (max-width:1300px) {
  .Life-Hero {
    height: 70vh;

  }
}
@media screen and (max-width:1150px) {
  .Life-Hero {
    height: 60vh;

  }
}
@media screen and (max-width:1050px) {
  .Life-Hero {
    height: 50vh;

  }
}
@media screen and (max-width:850px) {
  .Life-Hero {
    height: 50vh;

  }
}
@media screen and (max-width:750px) {
  .Life-Hero {
    height: 45vh;

  }
}